@use 'globals' as *;

$arrow-size: .45em;

.menu {
  font-size: .5em;
  width: 11em;
  background-color: var(--menu-color);
  box-shadow: 0 0 1em var(--menu-shadow-color);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition-property: visibility, opacity;
  transition-duration: $transition-duration;

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.arrow {
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  border-bottom: $arrow-size solid var(--menu-color);
}
