@use 'globals' as *;

$arrow-size: .45em;

.menu {
  font-size: .5em;
  position: absolute;
  top: 100%;
  width: 10em;
  box-shadow: 0 0 1em hsl(0, 0%, 50%);
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;
  transition-duration: $transition-duration;

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.arrow {
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  border-bottom: $arrow-size solid white;
}
