@use 'globals' as *;

.container {
  @extend %column;
}

.form {
  @extend %column;
  width: $form-width;
  margin-bottom: 0.5em;
}

.inputs-container {
  margin-bottom: 1.25em;
}

.error-message {
  display: flex;
  align-items: center;
  height: 1.5em;
  margin-bottom: 1em;
  font-size: 0.65em;
  color: $error-color;
  opacity: 0;
  transition-duration: $transition-duration;
  transition-property: opacity;

  &.visible {
    opacity: 1;
  }
}
