@use 'globals' as *;

$container-padding: 1em;

.container {
  display: flex;
  padding: $container-padding $container-padding $container-padding 0;
}

.form {
  display: flex;
  flex-grow: 1;
}

.message-box {
  flex-grow: 1;
  padding: 0.6em;
  margin-right: 1em;
  background-color: var(--second-main-color);
  border-radius: 0.5em;
}

.message-input {
  width: 100%;

  &::placeholder {
    color: var(--second-faded-color);
  }
}

.submit {
  @extend %icon;
  font-size: 1.75em;
}
