@use 'globals' as *;

.container {
  @extend %pane;
}

.heading {
  margin-bottom: .25em;
}

.form {
  @extend %column;
  width: $form-width;
  margin-bottom: .5em;
}

.inputsContainer {
  margin-bottom: 1.25em;
}

.toggleLink {
  @extend %link;
  font-size: .75em;
  width: max-content;
}
