@use 'globals' as *;

$dot-size: 1em;
$dot-margin: 0.25em;
$width: 3 * $dot-size + 2 * $dot-margin;

@keyframes loading {
  0% {
    left: 0;
  }

  100% {
    left: $width - $dot-size;
  }
}

.typing-indicator {
  display: flex;
  width: $width;
  margin: 0 auto;

  &::before {
    position: relative;
    width: $dot-size;
    height: $dot-size;
    content: '';
    background: currentColor;
    border-radius: 100%;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-timing-function: steps(3, jump-none);
    animation-iteration-count: infinite;
  }
}
