@use 'globals' as *;

.container {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.initial-fetch {
  position: absolute;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2.5em;
  visibility: visible;
  background: var(--main-color);
  opacity: 1;
  transition-duration: $transition-duration;
  transition-property: visibility, opacity;

  &.succeeded {
    visibility: hidden;
    opacity: 0;
  }
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
}
