@use 'globals' as *;

.container {
  @extend %app-bar-item-container;
  display: flex;
  justify-content: center;
  position: relative;
}

.icon-container {
  @extend %app-bar-icon-container;
}

.logout {
  color: hsl(0, 100%, 45%);
}
