@use 'globals' as *;

.container {
  @extend %app-bar-item-container;
  position: relative;
  display: flex;
  justify-content: center;
}

.icon-container {
  @extend %app-bar-icon-container;
}

.logout {
  color: var(--red);
}
