@use 'globals' as *;

.container {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  margin-left: $chat-list-width;
  pointer-events: none;
}

.title {
  font-size: .8em;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $app-bar-padding 0;
}

.chatIcon {
  font-size: 1.25em;
  margin-right: .5em;
}
