@use 'globals' as *;

.container {
  @extend %pane;
  font-size: 1.25em;
}

.error-icon {
  @extend %icon;
  margin-bottom: 0.1em;
  font-size: 5em;
}

.heading {
  margin-bottom: 0.5em;
  font-size: 3em;
}

.heading,
.paragraph {
  user-select: text;
}

.reload {
  margin-top: 1em;
}
