@use 'globals' as *;

.container {
  flex-grow: 1;
  display: flex;
  position: relative;
}

.initialFetch {
  font-size: 2.5em;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  background: var(--main-color);
  transition-property: visibility, opacity;
  transition-duration: $transition-duration;

  &.succeeded {
    visibility: hidden;
    opacity: 0;
  }
}

.messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
}
