@use 'globals' as *;

.menu-item {
  display: flex;
  align-items: center;
  padding: .5em .8em;
  cursor: pointer;
  transition-property: background;
  transition-duration: $transition-duration;

  &:hover {
    background-color: var(--second-menu-color);
  }
}

.icon {
  @extend %icon;
  margin-right: .5em;

  &.colored {
    color: inherit;
  }
}
