@use 'globals' as *;

$container-padding: 1em;

.container {
  display: flex;
  padding: $container-padding $container-padding $container-padding 0;
}

.form {
  flex-grow: 1;
  display: flex;
}

.messageBox {
  flex-grow: 1;
  padding: .5em;
  margin-right: 1em;
  background-color: var(--second-main-color);
  border-radius: .5em;
}

.messageInput {
  width: 100%;

  &::placeholder {
    color: var(--second-subtle-color);
  }
}

.submit {
  font-size: 2em;
}
