@use 'globals' as *;

$focused-color: hsl(0, 0%, 20%);
$complete-color: hsl(100, 100%, 30%);

.container {
  margin-bottom: 0.5em;
}

.label {
  padding-left: 0.1em;
  font-size: 0.7em;
  cursor: default;
  opacity: 0;
  transition-duration: $transition-duration;
  transition-property: opacity;

  // Separate color and opacity into different levels

  &.non-empty,
  .complete &,
  .error & {
    opacity: 1;
  }

  &.complete {
    color: $complete-color;
  }

  &.error {
    color: $error-color;
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  padding: 0.25em 0;
  cursor: text;
  border-bottom: 0.075em solid $unfocused-color;
  transition-duration: $transition-duration;
  transition-property: border-color;

  .focused & {
    border-color: $focused-color;
  }
}

.base-input {
  width: 100%;
}

.icon {
  width: 1em !important;
  margin-right: 0.5em;
  color: $unfocused-color;
  transition-duration: $transition-duration;
  transition-property: color;

  .focused &,
  .complete &,
  .error & {
    color: $focused-color;
  }

  .complete & {
    color: $complete-color;
  }

  .error & {
    color: $error-color;
  }
}
