@use 'sass:color';
@use 'globals' as *;

@mixin emit-variables($variables) {
  @each $name, $value in $variables {
    --#{$name}: #{$value};
  }
}

$second-subtle-color-modifier: 40%;

@function make-light-theme() {
  $modifier: -10%;

  $main-color: hsl(0, 0%, 100%);
  $second-main-color: color.adjust($main-color, $lightness: $modifier);
  $third-main-color: color.adjust($main-color, $lightness: 2 * $modifier);

  @return (
    'main-color': $main-color,
    'text-color': hsl(0, 0%, 0%),
    'second-main-color': $second-main-color,
    'third-main-color': $third-main-color,
    'second-subtle-color': color.adjust(
      $second-main-color, $lightness: -1 * $second-subtle-color-modifier
    ),

    'menu-color': $main-color,
    'second-menu-color': $second-main-color,
    'menu-shadow-color': hsl(0, 0%, 50%),

    'red': hsl(0, 100%, 60%)
  );
}

@function make-dark-theme() {
  $modifier: 15%;

  $main-color: hsl(0, 0%, 10%);
  $second-main-color: color.adjust($main-color, $lightness: $modifier);
  $third-main-color: color.adjust($main-color, $lightness: 2 * $modifier);

  @return (
    'main-color': $main-color,
    'text-color': hsl(0, 0%, 100%),
    'second-main-color': $second-main-color,
    'third-main-color': $third-main-color,
    'second-subtle-color': color.adjust(
      $second-main-color, $lightness: $second-subtle-color-modifier
    ),

    'menu-color': $second-main-color,
    'second-menu-color': $third-main-color,
    'menu-shadow-color': hsl(0, 0%, 0%),

    'red': hsl(0, 100%, 70%)
  );
}

$light-theme: make-light-theme();
$dark-theme: make-dark-theme();

:root {
  @include emit-variables($light-theme);

  &.darkTheme {
    @include emit-variables($dark-theme);
  }

  &.changingTheme body * {
    transition: none !important;
  }
}
