@use 'globals' as *;

.button {
  position: relative;
  width: $form-width / 2;
  height: 2.2em;
  padding: 0 1em;
  overflow: hidden;
  color: hsl(0, 0%, 100%);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: hsla(0, 0%, 0%, 0.2);
  border-radius: 2em;
  transition-duration: 0.15s;
  transition-property: background-color, opacity;

  &:disabled {
    background-color: hsla(0, 0%, 100%, 0.5);
  }

  &:not(:disabled):hover {
    background-color: transparent;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background-image: linear-gradient(90deg, hsl(200, 100%, 60%), hsl(270, 100%, 60%));
  }
}

.loading-indicator {
  margin: 0 auto;
}
